@import  "~bootstrap/scss/bootstrap";

$Red_1_Rimac: #EF3340;
$Gray_3: #A3ABCC;
$Gray_2_Paragraph: #676F8F;
$Green_2: #43B748;
$Acian_2_Hover: #6F7DFF;
$Gray_7: #F7F8FC;



.home{
  height: 100vh;
  margin: 0;

  &__section-animate{
    background-image: url('../images/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 calc(100% - 96%);
    text-align: center;
    padding-bottom: 13px;

    &__contenido{
      margin-top: 96px;
        img.responsive{
          display: none;
        }
      &__text{
        text-align: start !important;
        margin-top: 21px;
        padding-left: calc(100% - 80%);

        &__subtitle{
          font-size: 13px;
          line-height: 16px;
          font-weight: 700;
          letter-spacing: 0.8px;
        }

        &__title{
          font-size: 42px;
          line-height: 48px;
          font-weight: 400;
          letter-spacing: -0.2px;
          width: 320px;
          span{
            color: $Red_1_Rimac
          }
        }

        &__paragraph{
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          width: 288px;
        }
      }
    }

    &__footer{
      text-align: start !important;
      font-size: 12px;
      line-height: 20px;
      font-weight: 300;
      letter-spacing: 0.2px;
      margin-top: 80px;
      color: $Gray_3;
    }
  }
  
  &__section-form{

    &__card{
      margin-top: 122px;
      &__content{
        display: flex;
        justify-content: center;
        align-items: center;

        .card{
          border: none !important;

          .card-title{
            font-size: 28px;
            font-weight: 400;
            line-height: 36px;
            letter-spacing: -0.2px;
            margin-bottom: 24px;
          }
          .card-body{
            padding: unset !important;
            font-size: 16px;

            .form-control{
              font-size: 16px;
              &.form-2{
                margin-bottom: 16px;
              }
              &:focus{
                box-shadow: none;
              }   

            }
            .form-check{
              margin-top: 24px;
              
              .form-check-input{
                &:checked{
                  background-color: $Green_2;
                  border-color: $Green_2;
                }

                &:focus{
                  box-shadow: none;
                }
              }

              .form-check-label{
                font-weight: 300;
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: $Gray_2_Paragraph;
                span{
                  text-decoration: underline;
                  font-weight: 600;
                }
              }
            }
          }
        }

        Button.b-form{
          background: $Red_1_Rimac;
          font-weight: bold;
          font-size: 14px;
          line-height: 16px;text-align: center;
          letter-spacing: 0.8px;
          text-transform: uppercase;
          height: 56px;
          width: 192px;
          margin-top: 40px;

          &:focus{
            box-shadow: none;
          }
        }
      }
    }
  }
}

.menu{
  position: absolute;
  width: 100%;
  top: 0;
  &__section__navbar{
    text-align: right;

    span{
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: $Gray_2_Paragraph;
      margin-right: 23px;

      &.number{
        font-size: 14px;
        line-height: 24px;
        color: $Acian_2_Hover;
        margin-left: 5px;
      }

      &.responsive-number{
        display: none;
      }
    }
  }
}


.dropdown-toggle::after{
  border-top: 0.3em solid red
}

.plan{
  margin: 0;
  padding-top: 56px !important;
  border-top: 1px solid #E4E8F7;

  &__col{
    text-align: center;
    padding: 0 65px;
    padding-top: 48px;

    &__navigate{
      background-color: #FAFBFF;
      align-items: flex-start;
      display: flex;
      justify-content: center;

      &__items{

        &__item{
          display: flex;
          gap: 20px;
          color: #C5CBE0;
          margin-bottom: 44px;
          position: relative;

          &:first-child::before{
            content: " ";
            height: 50px;
            border: 1px dashed #E4E8F7;
            position: absolute;
            left: 11px;
            top: 24px;
            z-index: 0;
          }

          &__number{
            border: 1px solid #C5CBE0;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            &__responsive{
              display: none;
            }
          }

          &.active{
            div{
              background-color: #6F7DFF;
              color: #fff;
            }
            span{
              color: #494F66;
            }
          }
        }
      }
    }

    &__content{
      &__retroceder{
        text-align: start !important;
        display: flex;
        justify-content: start;
        align-items: center;
  
        span{
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.6px;
          margin-left: 16px;
        }
      }
  
      &__perfil{
        text-align: start !important;
        margin-top: 28px;
        
        h1{
          font-size: 40px;
          line-height: 48px;
          letter-spacing: -0.6px;
          color: #494F66;
  
          span{
            color: $Red_1_Rimac;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: -0.6px;
          }

          &.responsive{
            display: none;
          }
        }
  
        span{
          font-size: 16px;
          line-height: 28px;
          color: #676F8F;
        }
      }
  
      &__contenidocarro{
        display: flex;
        margin-top: 44px;
        border: 3px solid #F0F2FA;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-radius: 12px;
  
        &__text{
          text-align: start !important;
  
          p{
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #A3ABCC;
            margin-bottom: 2px;
          }
  
          h3{
            font-size: 20px;
            line-height: 28px;
            color: #494F66;
            width: 192px;
          }
        }
      }

      &__montos{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-top: 55px;
        padding-bottom: 50px;
        border-bottom: 2px solid #E4E8F7;
        &__text{
          text-align: start;
          p{
            font-size: 16px;
            color: #494F66;
            margin-bottom: 0;
          }
          span{
            font-size: 12px;
            color: #676F8F;
            line-height: 16px;
            letter-spacing: 0.6px;
            text-transform: uppercase;
          }
        }
        &__number{
          display: flex;
          gap: 18px;
          justify-content: center;
          align-items: center;
          width: 160px;
          height: 56px;
          border: 1px solid #C5CBE0;
          border-radius: 8px;
          &__remove{
            color: #6F7DFF;
            font-size: 20px;
            cursor: pointer;
          }
          &__add{
            color: #6F7DFF;
            font-size: 20px;
            cursor: pointer;
          }
          &__monto{
            font-size: 16px;
            color: #494F66;
          }
        }
      }

      &__coberturas{
        margin-top: 55px;
        margin-bottom: 55px;
        text-align: start;
        &__title{
          font-size: 20px;
          line-height: 28px;
          color: #494F66;
        }
        .nav-tabs{
          margin-top: 20px;
          .nav-item{
            &:nth-last-child(1) .nav-link{
              letter-spacing: 1.3px;
            }
            .nav-link{
              font-size: 14px;
              color: #494F66;
              font-weight: 600;
             
              &:hover{
                border-color: #fff #fff #EF3340 #fff;
                color: #EF3340
              }
              &.active{
                border-color: #fff #fff #EF3340 #fff;
                color: #EF3340
              }
            }
          }
        }
        .accordion{
          .accordion-item{
            border-color: #fff #fff #E4E8F7;
            .accordion-header{
              .accordion-button{
                background: white;
                border: none;
                border-bottom: none;
                box-shadow: unset;
                color: black;
                font-size: 20px;
                &:not(.collapsed)::after{
                  background-image: url(../images/arrowTabs.svg);
                }
                &:after{
                  background-image: url(../images/arrowTabs.svg);
                }

                &__content{
                  &__btn{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 20px;
                    &__icon{
                      border: 2px solid #939DFF;
                      border-radius: 50%;
                      height: 25px;
                      width: 25px;
                      align-items: center;
                      display: flex;
                      justify-content: center;
                      font-size: 18px;
                      color: #939DFF;
                    }
                    span{
                      color: #6F7DFF;
                      font-size: 12px;
                      font-weight: 700;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &__monto{
      margin-top: 189px;
      text-align: start;
      &__firstSection{
        display: grid;
        gap: 5px;
        padding: 20px 0;
        border-bottom: 1px solid #E4E8F7;
        font-weight: 700;
        p{
          margin-bottom: 0px;
          font-size: 12px;
        }
        span{
          font-size: 28px;
        }
      }
      &__secondSection{
        margin-top: 24px;
        ul{
          list-style: none;
          padding: 0;
          li{
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 20px;
            font-size: 14px;
          }
        }
      }
      &__button{
        button{
          height: 48px;
          width: 224px;
          border-radius: 8px;
          background: #EF3340;
          border: transparent;
          color: #fff;
        }
      }
    }
  }
}



/// responsive

@media (max-width: 550px) {
  .home{
    &__section-animate{
      background: $Gray_7;
      text-align: center;
      padding-bottom: 13px;
      padding: 0 !important;
      &__contenido{
        display: flex !important;

        img{
          display: none;
          &.responsive{
            display: flex !important;
            width: 125px;
          }
        }

        &__text{
          padding-left: 0 !important;
          position: relative;
          width: 100%;
          padding-bottom: 56px !important;

          &__subtitle{
            font-size: 10px;
            line-height: 16px;
            font-weight: 700;
            letter-spacing: 0.8px;
            margin-left: 30px;
            color: #494F66;
          }
  
          &__title{
            font-size: 28px;
            line-height: 36px;
            font-weight: 400;
            letter-spacing: -0.6px;
            width: 200px;
            margin-left: 30px;
            color: #494F66;
            span{
              color: $Red_1_Rimac
            }
          }
  
          &__paragraph{
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            width: 183px;
            margin-left: 30px;
            letter-spacing: 0.8px;
            color: $Gray_2_Paragraph;
          }

          .responsive{
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      }

      &__footer{
        display: none;
      }
    }

    &__section-form{
      &__card{
        margin-top: 40px;
        &__content{
  
          .card{
            width: 22rem !important;
          }

          Button.b-form{
            width: 100%;
            margin-bottom: 54px;
          }
        }
      }
    }
  }
  .menu{
    img{
      margin-left: 32px;
    }
    &__section__navbar{
      text-align: right;
      margin-right: 32px;
      span{
        display: none;
  
        &.number{
          display: none;
        }

        &.responsive-number{
          display: initial !important;
          font-size: 14px;
          line-height: 24px;
          margin-left: 5px;
          color: $Acian_2_Hover;
        }
      }
    }
  }
  
  .plan{
    &__col{
      padding: 0 32px;
      &__navigate{
        background-color: #fff;
        &__items{
          display: flex;
          width: 100%;
          padding: 25px 35px 0px;
          &__item{
            &:first-child{
              display: none;
              &::before{
                display: none;
              }
            }

            &__number{
              display: none;
              &__responsive{
                display: block;
              }
            }

            &.active{
              div{
                background-color: transparent;
                color: #676F8F;
                font-weight: 700;
                position: relative
              }
              span{
                display: none;
              }
              ::before{
                content: " ";
                width: 176px;
                height: 6px;
                background-color: #6464FA;
                position: absolute;
                top: 10px;
                left: 115%;
                border-radius: 5px;
              }
            }
          }
        }
      }

      &__content{
        &__retroceder{
          display: none;
        }
    
        &__perfil{
          text-align: start !important;
          margin-top: 28px;
          
          h1{
            font-size: 40px;
            line-height: 48px;
            letter-spacing: -0.6px;
            color: #494F66;
            display: none;
    
            span{
              color: $Red_1_Rimac;
              font-size: 40px;
              line-height: 48px;
              letter-spacing: -0.6px;
            }

            &.responsive{
              display: block;
            }
          }
    
          span{
            font-size: 16px;
            line-height: 28px;
            color: #676F8F;
          }
        }
    
        &__contenidocarro{
          display: flex;
          margin-top: 44px;
          border: 3px solid #F0F2FA;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          border-radius: 12px;
    
          &__text{
            text-align: start !important;
    
            p{
              font-size: 12px;
              line-height: 20px;
              letter-spacing: 0.2px;
              color: #A3ABCC;
              margin-bottom: 2px;
            }
    
            h3{
              font-size: 20px;
              line-height: 28px;
              color: #494F66;
              width: 192px;
            }
          }
        }
  
        &__montos{
          display: block;
          &__number{
            width: 100%;
            margin-top: 20px;
            gap: 100px;
            &__remove{
              
            }
            &__add{
              
            }
            &__monto{
              
            }
          }
        }

        &__coberturas{
          
          .nav-tabs{
            .nav-item{
              &:nth-last-child(1) .nav-link{
                letter-spacing: 1.3px;
              }
              .nav-link{
                font-size: 10px
              }
            }
          }
        }
      }

      &__monto{
        margin-top: 0;
        gap: 35px;
        text-align: start;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 1px 4px rgba(163, 171, 204, 0.06), 0px 8px 30px rgba(20, 43, 127, 0.1);

        &__firstSection{
          display: grid;
          gap: 0px;
          font-weight: 400;
          p{
            margin-bottom: 0px;
            font-size: 12px;

            &:first-child{
              display: none;
            }
          }
          span{
            font-size: 28px;
          }
        }
        &__secondSection{
          display: none;
        }
        &__button{
          button{
            height: 48px;
            width: 224px;
            border-radius: 8px;
            background: #EF3340;
            border: transparent;
            color: #fff;
          }
        }
      }
    }
  }
}
